# Install required packages into a virtualenv.
# "pip freeze > requirements.txt" to generate the requirements.
ansible-base
appengine-python-standard >= 1.0.0
attrs
fabric
google-api-core
google-api-python-client
google-auth
google-cloud-core
google-cloud-logging
google-cloud-secret-manager
google-cloud-storage
grpcio
grpcio-status
grpcio-tools
packaging
packaging-legacy
protobuf
pyOpenSSL
python-dateutil
pytz
requests
SecretStorage
six
strictyaml
urllib3
